services:
  
  kafka-kraft:
    image: bitnamilegacy/kafka:latest
    container_name: kafka-kraft
    hostname: kafka-kraft
    networks:
      - deep-space-net
    ports:
      - "9092:9092"
    environment:
      - KAFKA_CFG_NODE_ID=1
      - KAFKA_CFG_PROCESS_ROLES=controller,broker
      - KAFKA_CFG_CONTROLLER_QUORUM_VOTERS=1@kafka-kraft:9093
      - KAFKA_CFG_LISTENERS=PLAINTEXT://:9092,CONTROLLER://:9093
      - KAFKA_CFG_ADVERTISED_LISTENERS=PLAINTEXT://kafka-kraft:9092
      - KAFKA_CFG_LISTENER_SECURITY_PROTOCOL_MAP=CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT
      - KAFKA_CFG_CONTROLLER_LISTENER_NAMES=CONTROLLER
      - KAFKA_CFG_AUTO_CREATE_TOPICS_ENABLE=true
    volumes:
      - kafka-data:/bitnami/kafka
    healthcheck:
      test: ["CMD", "kafka-topics.sh", "--list", "--bootstrap-server", "localhost:9092"]
      interval: 10s
      timeout: 5s
      retries: 5

  # Produtor 1: Mobility
  prod-mobility:
    build: 
      context: ./producers
    container_name: prod-mobility
    entrypoint: ["python", "producer_mobility.py"]
    depends_on:
      kafka-kraft:
        condition: service_healthy
    networks:
      - deep-space-net

  # Produtor 2: ECLSS (Life Support)
  prod-eclss:
    build: 
      context: ./producers
    container_name: prod-eclss
    entrypoint: ["python", "producer_eclss.py"]
    depends_on:
      kafka-kraft:
        condition: service_healthy
    networks:
      - deep-space-net

  # Produtor 3: HGA (Comms)
  prod-hga:
    build: 
      context: ./producers
    container_name: prod-hga
    entrypoint: ["python", "producer_hga.py"]
    depends_on:
      kafka-kraft:
        condition: service_healthy
    networks:
      - deep-space-net

  
networks:
  deep-space-net:
    driver: bridge
  # ground-control-net: ****(Add this part)
  #   driver: bridge

volumes:
  kafka-data:
    driver: local
  # influxdb-data: ****(Add this part)